.invalid {
    background-color: red;
}
entry {
    transition: background-color ease-out 0.35s;
}

frame {
    background-color: @theme_bg_color;
}

window {
    background-color: rgba(0, 0, 0, 0);
}
